<%= form_with model: article, id: "edit-article" do |form| %>
  <div class="field">
    <%= form.label :title, class: "label" %><br>
    <%= form.text_field :title, class: "input" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="help is-danger"><%= message %></div>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :body, class: "label" %><br>
    <%= form.text_area :body, class: "textarea" %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="help is-danger"><%= message %></div>
    <% end %>
  </div>
  <div class="field">
    <div class="select">
      <%= form.select :status, ['archived','private','public'], selected: 'public' %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= button_tag type: 'submit', form:"edit-article", class: locals[:style], disable_with: 'Submiting...' do %>
        <i class="fa fa-plus-circle" aria-hidden="true"> </i>&nbsp;<%= locals[:submit_label]%>
      <% end %>
    </div>
    <div class="control">
      <%= link_to locals[:path], class: "button is-light" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"> </i>&nbsp;<%= locals[:cancel_label]%>
      <% end %>
    </div>
  </div>
<% end %>
